@charset "utf-8";

@import
  "minima-reboot/layout",
  "minima-reboot/syntax-highlighting"
;


img {
    
    display:block;
    margin:auto;
    width:100%;
}

iframe,video{
    display:block;
    margin:auto;
    width:100%;
}
