@charset "utf-8";

@import
  "minima-reboot/layout",
  "minima-reboot/syntax-highlighting"
;


img {

    display:block;
    margin:auto;
    width:100%;
}

.half {
    width:50%; 
}

iframe,video{
    display:block;
    margin:auto;
    width:100%;
}

table{
    border:1px solid black!important;
    margin:auto!important;
}

td{
    border:1px solid black!important;
    text-align:center!important;
}
th {
    border:1px solid black!important;
    background-color:gray!important;
    text-align:center!important;
}
