---
---

@import "minima-reboot";

img {
    display:block !important;
    margin:auto  !important;
}

td {
    border:1px solid black;    
}

table {
    border:1px solid black;    
    margin:0 auto  !important;
}
